@import "./utilities/variable.scss";
// @import 

.main{
    background-image: linear-gradient(
        to right,
        rgba(126, 32, 97, 1) 35%,
        rgba(126, 32, 97, 0.5)),
        url('../images/loginbanner.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navBar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.logo{
    height: 100%;
    padding: 8px;
    fill: $white !important;
}

.navBar .navList{
    display: flex;
    gap: 20px;
    list-style-type: none;
    li{
        a{
            color: inherit;
            text-decoration: none;
            font-size: 1rem;
        }
        a:hover{
            color: red !important;
        }
    }
}

.mainFrame{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-evenly;
    align-items: center;
    height: 92vh;
    margin: 0 auto;
    // background-color: red;
    
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 28%;
    gap: 15px;


    .realNameField{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        input{
            width: 50%;
        }
    }
    input{
        color: $white;
        margin-top: 10px;
        padding: 8px;
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
        border-bottom: 2.5px solid white;
    }
    input:-webkit-autofill:focus,
    input:-webkit-autofill,
    input:-webkit-autofill:hover{
        -webkit-text-fill-color: white;
        transition: background-color 5000s ease-in-out 0s;
    }
    input::placeholder{
        background-color: transparent;
        color: $white;
        opacity: 0.7;
    }
    input:focus{
        outline: none;
    }

    .PassSec{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        input{
            width: 90%;
        }
        .PassIcon{
            font-size: 2rem;
        }
    }

    .errorBox{
        // height: 7vh;
        min-height: max-content;
        // background-color: red;
        color: white;
        .errorMsg{
            list-style-type: none;
            padding-left: 25px;
            font-weight: bolder;
            font-size: 1.2rem;
            background-color: orangered;
        }
        .reqMsg{
            padding-left: 25px;
            padding: 10px;
            background-color: black;
            width: 100%;
        }
    }
    
    .keepConnection{
        margin-right: 10px;
        height: 15px;
        width: 15px;
    }

    .subBtn{
        padding: 10px;
        color: $purple;
        font-size: 1.5rem;
        font-weight: bolder;
    }
}

.loginBanner{
    
    .bannerTitle{
        font-size: 6rem;
        font-weight: 600;
        color: white;
    }

    .rInvitation{
        color: $white;
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: lighter;
        a{
            font-size: 1.8rem;
            color: cyan;
        }
    }
}