@import './utilities/variable';


main{
    width: 100%;
}

.section-detail{
    font-size: 0.8rem;
}

.title{
    font-size: 2.5rem;
    font-weight: 600;
}

header.hero{
    background-image:
        linear-gradient(rgba(126, 32, 97, 0.68),
                        rgba(126, 32, 97, 0.68)),
        // url("../../images/banner-100.jpg");
        url("../images/banner-100.jpg");


    background-size: cover;
    height: 90vh;
    width: 100vw;


    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    p.heroTitle{
        font-size: 2.5rem;
        span{
            font-size: 2.5rem;
        }
    }
}

section{
    width: 100vw;
    padding: 50px 25px;
}

.benefits{
    display: flex;
    justify-content:space-evenly;
    gap: 15px;

    @media (max-width: 700px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;
        
        article{
            width: 80%;
            img.benefits-img{
                width: 75%;
            }
        }
    }

    article{
        img.benefits-img{
            height: 65px;
        }

        p.benefits-title{
            font-size: 1.5rem;
            margin: 10px 0;
        }
    }
    
}

.about {
    display: flex;
    width: 100vw;
    // gap: 25px;
    justify-content: space-evenly;
    align-items: center;

    div.info{
        width: 40%;
    }

    .title{

    }

    p.description{
        margin: 20px 0;
    }

    img.aboutImage{
        width: 35%;
        border-radius: 10px;
    }

    @media (max-width: 700px) {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;

        div.info{
            width: 75%;
        }

        img.aboutImage{
            width: 75%;
        }
    }
}

.Collection{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;

    .CollectionImage{
        width: 35vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        // overflow: hidden;
        
        // transition: 1s ease-in-out all;
        
        :hover{
            transition: 1s ease-out all;
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.514);
            transform: translateY(-10px);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .info{
        .description{
            margin: 10px 0 25px 0;
        }
    }

    @media (max-width: 700px){
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;

        .CollectionImage{
            width: 75vw;
        }
    }
    
}

.how-we-work{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    @media (max-width: 700px){
        flex-direction: column;
        align-items: center;

        text-align: center;
        // width: 75vw;
        .info{
            width: 75vw;
            .icons-cards{
                width: 100%;
                padding-bottom: 40px;
            }
        }

        .benifits{
            width: 75vw !important;
            // background-color: red !important;
            .number{
                font-size: 8rem !important;
            }

            .info{
                .title{
                    font-size: 6rem !important;
                    text-align: left;
                }
                .description{
                    font-size: 1.8rem;
                }
            }
        }
    }
    
    .icons-cards{
        margin-top: 50px;

        display: flex;
        flex-direction: row;
        width: 35vw;
        gap: 1.5vw;
        // background-color: $black;

        .card{
            padding: 10px;
            border-radius: 10px;
            // width: 20%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            transition: 1s ease-out;


            div.imageBackground{

                background-color: $white;
                border-radius: 100%;
                aspect-ratio: 1;
                // padding: auto;
                display: flex;
                align-items: center;

                .card-icon{
                    // min-width: 10vw;
                    width: 75%;
                    border: none;
                    height: 50%;
                    margin: auto;
                    display: block;

                    fill: $dark-white;
                }
            }

            p.card-title{
                font-size: 1.5rem;
            }
        }

        .card:hover{
            background-color: $white;
            transform: translateY(-20px);
            transition: 1s ease-out all;
            box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.247);


            div.imageBackground{
                background-color: $dark-white;
                .card-icon{
                    fill: $black
                }
            }
        }
    }

    .benifits{
        width: 35vw;
        // min-height: max-content;

        background-color: #f8f8f8;
        padding: 10px;
        border-radius: 34px;

        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.5fr 1fr;

        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.096);

        .number{
            font-size: 4rem;
            opacity: 0.2;
        }

        img{
            width: 100%;
            border-radius: 100%;
        }

        .info{
            grid-column: 1 / 3;
            width: 100%;
            padding: 10px;

            .title{
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }

    }

    
}

.testimonials{
    
    .info{
        text-align: center;
        margin-bottom: 25px;
    }
    
    .testimonials-cards{
        display: flex;
        justify-content: space-evenly;

        .testimo-card{
            width: 30vw;
            height: max-content;
            padding: 35px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.096);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .user-info{
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 10px;
                min-height: 150px;
                padding: 0;

                img{
                    width: 50%;
                    max-height: 100px;
                    max-width: 100px;
                    object-fit: cover;
                    aspect-ratio: 1;
                    border-radius: 100%;
                }
                .name{
                    font-size: 1.3rem;
                    text-align: right;
                    width: 75%;
                    text-decoration: underline;
                }
            }
        }

        @media (max-width: 700px){
            flex-direction: column;
            align-items: center;
            gap: 15px;
            
            
            .testimo-card{
                width: 50vw;
                padding: 15px 15px 0 15px;

                .user-info{
                    min-height: 100px;
                    justify-content: end !important;

                }
            }

        }
    }
}