main{
    width: 100%;
    
}

header.hero{
    background-image:
        linear-gradient(rgba(126, 32, 97, 0.68),
                        rgba(126, 32, 97, 0.68)),
        url("../images/banner-100.jpg");

    height: 90vh;
    background-size: cover;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

header.hero > p.heroTitle {
    font-size: 2.5rem;
}

section{
    width: 100vw;
    padding: 50px 25px;
}

section.benefits{
    display: flex;
    justify-content:space-evenly;
    gap: 15px;
}

section.benefits > article{}

section.benefits > article > img.benefits-img{
    height: 65px;
}

section.benefits > article > p.benefits-title{
    font-size: 1.5rem;
    margin: 10px 0;
}

/****************** ABOUT *******************/

section.about {
    display: flex;
    width: 100vw;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

section > div.info {
    width: 40%;
}

section > div.info > .title{
    /* margin-bottom: 10px; */
}

section > div.info > p.description{
    margin: 20px 0;
}

section.about > img.aboutImage{
    width: 35%;
    border-radius: 10px;
}

/****************** COLLECTION *******************/

section.Collection {
    /* display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 15px; */

     display: flex;
     flex-direction: row-reverse;
    width: 100vw;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

section.Collection > div.CollectionImage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 45vw;
    overflow: hidden;
}

section.Collection > div.CollectionImage > img{
    width: 100%;
}

section.Collection > div.info{

}