/** @format */
footer {
  width: 100vw;
  padding: 0;
  margin: 0;
}
footer img {
  width: 100vw;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
footer .footer-menue {
  padding: 75px 25px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-menue .footer-logo {
  fill: #FFFFFF;
  width: 15%;
}
footer .footer-menue div.mainMenu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 75px;
}
footer .footer-menue div.mainMenu .customer-care .title {
  text-decoration: underline;
  margin-bottom: 25px;
}
footer .footer-menue div.mainMenu .customer-care ul {
  margin-left: 25px;
  list-style-type: none;
}
footer .footer-menue div.mainMenu .customer-care ul li {
  padding-bottom: 5px;
}
footer .footer-menue div.mainMenu .customer-care ul li a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  font-size: 0.9rem;
}
footer .footer-menue div.mainMenu .customer-care ul li :hover {
  text-decoration: underline;
}
footer .footer-menue div.mainMenu .mail-subscription {
  width: 50%;
}
footer .footer-menue div.mainMenu .mail-subscription .title {
  text-decoration: underline;
  margin-bottom: 25px;
}
footer .footer-menue div.mainMenu .mail-subscription .description {
  font-weight: lighter;
  font-size: 0.8rem;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input {
  border-bottom: 2px solid #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input form {
  width: 100%;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input form input {
  color: #FFFFFF;
  margin-top: 15px;
  background-color: transparent;
  border: none;
  width: 100%;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input input:focus {
  outline: none;
  background-color: transparent;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input input::placeholder {
  color: #FFFFFF;
  opacity: 0.7;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input input:-webkit-autofill:focus,
footer .footer-menue div.mainMenu .mail-subscription .sub-input input:-webkit-autofill,
footer .footer-menue div.mainMenu .mail-subscription .sub-input input:-webkit-autofill:hover {
  -webkit-text-fill-color: white;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
footer .footer-menue div.mainMenu .mail-subscription .sub-input .icon {
  font-size: 1.2rem;
  width: 10%;
  text-align: right;
  margin-bottom: -15px;
}
footer .footer-menue .socialMedia-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-menue .socialMedia-contacts a .sm-icon {
  padding: 10px;
  font-size: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #7e2061;
}
@media screen and (max-width: 720px) {
  footer .footer-menue {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px;
  }
  footer .footer-menue .mainMenu {
    padding: 10px !important;
    gap: 10px;
  }
  footer .footer-menue .mainMenu .customer-care {
    width: 70% !important;
  }
  footer .footer-menue .mainMenu .mail-subscription {
    width: 30%;
  }
}
footer .footer-menue .socialMedia-contacts {
  flex-direction: row;
}
footer .cpywrite {
  text-align: center;
  padding-bottom: 10px;
}/*# sourceMappingURL=footer.css.map */