/** @format */

@import "../../sass/utilities/variable";
// @import "../../sass/utilities/fonts";

footer {
	width: 100%;
	padding: 0;
	margin: 0;

	img {
		width: 100%;
		opacity: 0.5;
	}

	.footer-menue {
		padding: 75px 25px;
		width: 100vw;
		display: flex;
		justify-content: space-evenly;

		.footer-logo {
			fill: $white;
			width: 15%;
		}

		div.mainMenu {
			display: flex;
			justify-content: space-between;
			gap: 30px;
			padding: 0 75px;

			.customer-care {
				.title {
					text-decoration: underline;
					
					margin-bottom: 25px;
				}

				ul {
					margin-left: 25px;
					list-style-type: none;
					li {
						padding-bottom: 5px;
						a {
							color: white;
							text-decoration: none;
							font-weight: lighter;
							font-size: 0.9rem;
						}

						:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.mail-subscription {
				width: 50%;
				.title {
					text-decoration: underline;
					margin-bottom: 25px;
				}

				.description {
					font-weight: lighter;
					font-size: 0.8rem;
				}

				.sub-input {
					border-bottom: 2px solid $white;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					form{
						width: 100%;
						input {

							// padding: 5px;
							color: $white;
							margin-top: 15px;
							background-color: transparent;
							border: none;
							width: 100%;
						}
					}

					input:focus {
						outline: none;
						background-color: transparent;
					}

					input::placeholder {
						color: $white;
						opacity: 0.7;
					}
					
					input:-webkit-autofill:focus,
					input:-webkit-autofill,
					input:-webkit-autofill:hover{
							-webkit-text-fill-color: white;
							transition: background-color 5000s ease-in-out 0s;
					}

					.icon {
						font-size: 1.2rem;
						width: 10%;
						text-align: right;
						margin-bottom: -15px;
						// float: right;
					}
				}
			}
		}

		.socialMedia-contacts {
			display: flex;
			flex-direction: column;
			gap: 10px;
			a {
				.sm-icon {
					padding: 10px;
					font-size: 2.5rem;
					// width: 150px;
					background-color: $white;
					border-radius: 10px;
					color: $purple;
				}
			}
		}
		@media screen and (max-width: 720px) {
			flex-direction: column;
			align-items: center;
			gap: 25px;
			padding: 10px;
			.mainMenu {
                padding: 10px !important;
                gap: 10px;
                .customer-care{
                    width: 70% !important;
                }
                .mail-subscription{
                    width: 30%;
                }
			}
		}

        .socialMedia-contacts {
			flex-direction: row;
        }
	}

	.cpywrite {
		text-align: center;
		padding-bottom: 10px;
	}
}
