@import '../../sass/utilities/variable.scss';

.navbar{
  background-color: $purple;
  color: $white;
  height: 100vh;
  padding: 10px;
  .category{
    margin: 25px 0;
    .title{
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: capitalize;
    }
    ul{
      padding-left: 15px;
      list-style-type: none; 
      li{
        padding: 10px 0px;
        a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}