/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
input {
  background-color: unset !important;
  outline: none;
  border: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-appearance: none;
          appearance: none;
  background-image: unset;
  color: unset;
  -webkit-transition: background-color 600000s 0s, color 600000s 0s !important;
  transition: background-color 600000s 0s, color 600000s 0s !important;
}
input:-internal-autofill-selected {
  background-color: green !important;
}
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea {
  outline: none;
  border: none;
}
textarea:focus {
  border-color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

label {
  display: block;
  margin: 0;
}

button {
  outline: none !important;
  border: none;
}
button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.txt1 {
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
}

.txt2 {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}

.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

.bg1 {
  background: #3b5998;
}

.bg2 {
  background: #1da1f2;
}

.bg3 {
  background: #cd201f;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}
.limiter .container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.limiter .wrap-login100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.limiter .login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.limiter .login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.limiter .login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px;
}
.limiter .login100-form-title {
  width: 100%;
  color: red;
  display: block;
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: bolder;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.limiter .wrap-input100 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.limiter .label-input100 {
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;
  transition: all 0.4s;
}
.limiter .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}
.limiter .input100:focus {
  height: 48px;
}
.limiter .input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.limiter .input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}
.limiter input.input100 {
  height: 100%;
  transition: all 0.4s;
}
.limiter .focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}
.limiter .eff-focus-selection {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.limiter .has-val {
  height: 48px !important;
}
.limiter .has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}
.limiter .input-checkbox100 {
  display: none;
}
.limiter .input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}
.limiter .label-checkbox100 {
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}
.limiter .label-checkbox100::before {
  content: "\f00c";
  font-size: 13px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.limiter .container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.limiter .login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
}
.limiter .login100-form-btn:hover {
  background: #333333;
}
.limiter .validate-input {
  position: relative;
}
.limiter .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}
.limiter .alert-validate::after {
  content: "\f12a";
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}
.limiter .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.limiter .Banner {
  background-image: linear-gradient(rgba(126, 32, 97, 0.8) 35%, rgba(126, 32, 97, 0.8)), url("../admin/img/loginBanner.jpg");
}
.limiter .container-error {
  text-align: center;
  color: red;
  margin-top: 25px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .limiter .login100_form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .limiter .login100_more {
    width: 50%;
  }
  .limiter .alert_validate::before {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .limiter .login100-form {
    width: 100%;
  }
  .limiter .login100-more {
    display: none;
  }
}
@media (max-width: 576px) {
  .limiter .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}/*# sourceMappingURL=adminAuth.module.css.map */