main {
  width: 100%;
}

.section-detail {
  font-size: 0.8rem;
}

section .title {
  font-size: 2.5rem;
  font-weight: 600;
}

header.hero {
  background-image: linear-gradient(rgba(126, 32, 97, 0.68), rgba(126, 32, 97, 0.68)), url("../images/banner-100.jpg");
  background-size: cover;
  height: 90vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
header.hero p.heroTitle {
  font-size: 2.5rem;
}
header.hero p.heroTitle span {
  font-size: 2.5rem;
}

.benefits {
  width: 100vw;
  padding: 50px 25px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}
@media (max-width: 700px) {
  .benefits {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
  }
  .benefits article {
    width: 80%;
  }
  .benefits article img.benefits-img {
    width: 75%;
  }
}
.benefits article img.benefits-img {
  height: 65px;
}
.benefits article p.benefits-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.about {
  width: 100vw;
  padding: 50px 25px;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
.about div.info {
  width: 40%;
}
.about p.description {
  margin: 20px 0;
}
.about img.aboutImage {
  width: 35%;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .about {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  .about div.info {
    width: 75%;
  }
  .about img.aboutImage {
    width: 75%;
  }
}

.Collection {
  width: 100vw;
  padding: 50px 25px;
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  gap: 25px;
  justify-content: space-evenly;
  align-items: center;
}
.Collection .CollectionImage {
  width: 35vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.Collection .CollectionImage :hover {
  transition: 1s ease-out all;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.514);
  transform: translateY(-10px);
}
.Collection .CollectionImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.Collection .info .description {
  margin: 10px 0 25px 0;
}
@media (max-width: 700px) {
  .Collection {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }
  .Collection .CollectionImage {
    width: 75vw;
  }
}

.how-we-work {
  width: 100vw;
  padding: 50px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .how-we-work {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .how-we-work .info {
    width: 75vw;
  }
  .how-we-work .info .icons-cards {
    width: 100%;
    padding-bottom: 40px;
  }
  .how-we-work .benifits {
    width: 75vw !important;
  }
  .how-we-work .benifits .number {
    font-size: 8rem !important;
  }
  .how-we-work .benifits .info .title {
    font-size: 6rem !important;
    text-align: left;
  }
  .how-we-work .benifits .info .description {
    font-size: 1.8rem;
  }
}
.how-we-work .icons-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 35vw;
  gap: 1.5vw;
}
.how-we-work .icons-cards .card {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: 1s ease-out;
}
.how-we-work .icons-cards .card div.imageBackground {
  background-color: #FFFFFF;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}
.how-we-work .icons-cards .card div.imageBackground .card-icon {
  width: 75%;
  border: none;
  height: 50%;
  margin: auto;
  display: block;
  fill: #ECECEC;
}
.how-we-work .icons-cards .card p.card-title {
  font-size: 1.5rem;
}
.how-we-work .icons-cards .card:hover {
  background-color: #FFFFFF;
  transform: translateY(-20px);
  transition: 1s ease-out all;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.247);
}
.how-we-work .icons-cards .card:hover div.imageBackground {
  background-color: #ECECEC;
}
.how-we-work .icons-cards .card:hover div.imageBackground .card-icon {
  fill: #5D595A;
}
.how-we-work .benifits {
  width: 35vw;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 34px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.096);
}
.how-we-work .benifits .number {
  font-size: 4rem;
  opacity: 0.2;
}
.how-we-work .benifits img {
  width: 100%;
  border-radius: 100%;
}
.how-we-work .benifits .info {
  grid-column: 1/3;
  width: 100%;
  padding: 10px;
}
.how-we-work .benifits .info .title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.testimonials {
  width: 100vw;
  padding: 50px 25px;
}
.testimonials .info {
  text-align: center;
  margin-bottom: 25px;
}
.testimonials .testimonials-cards {
  display: flex;
  justify-content: space-evenly;
}
.testimonials .testimonials-cards .testimo-card {
  width: 30vw;
  height: -moz-max-content;
  height: max-content;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.096);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .testimonials-cards .testimo-card .user-info {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  min-height: 150px;
  padding: 0;
}
.testimonials .testimonials-cards .testimo-card .user-info img {
  width: 50%;
  max-height: 100px;
  max-width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1;
  border-radius: 100%;
}
.testimonials .testimonials-cards .testimo-card .user-info .name {
  font-size: 1.3rem;
  text-align: right;
  width: 75%;
  text-decoration: underline;
}
@media (max-width: 700px) {
  .testimonials .testimonials-cards {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .testimonials .testimonials-cards .testimo-card {
    width: 50vw;
    padding: 15px 15px 0 15px;
  }
  .testimonials .testimonials-cards .testimo-card .user-info {
    min-height: 100px;
    justify-content: end !important;
  }
}/*# sourceMappingURL=home.css.map */